body {
    background-color: #f6f8f9;
    box-sizing: border-box;
    margin: 0;
}

*{
    font-family: "Roboto", sans-serif;
}
/*Main Header*/

#main-header {
    background-color: white;
    margin-bottom: 35px;
    
}
/*Titolo*/
#titolo {
    font-size: 36px;
    vertical-align: 16px;
}

/*parte centrale*/
.main-centrale {
    background-color: white;
    padding-left: 8%;
    padding-right: 8%;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    
}

hr{
    background-color:#f6f8f9;
    color: #f6f8f9;
}

#bottone-blu {
    background-color: #1e90ff;
    border-color: #1e90ff;
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
}
#bottone-bianco {
    background-color: white;
    border-color: #dcdcde;
    color: #dcdcde;
    border-radius: 6px;
    padding: 4px 10px;
}

.elenco {
    font-size: 18px;
    vertical-align: 1px;
}
/* check*/

.ok{
    color:green;
    border:1px solid;
    border-radius: 50%;
    padding:1px 3px;
    font-size: small;
}
.no{
    color:red;
    border:1px solid;
    border-radius: 50%;
    padding:1px 3px;
    font-size: small;
}
/* colori*/

.blu {background-color: #55b2eb;
      border-radius: 6px;
      color: white;
      padding: 4px;
     
}
.viola {
      background-color: #a27ae5;
      border-radius: 6px;
      color: white;
      padding: 4px;
}
.verde {
      background-color: #67c1ab;
      border-radius: 6px;
      color: white;
      padding: 4px;
}
.arancione {
      background-color: #f2a43f;
      border-radius: 6px;
      color: white;
      padding: 4px;
}
.rosa {
      background-color: #d864a2;
      border-radius: 6px;
      color: white;
      padding: 4px;
}
.pisello {
      background-color: #b5cc3a;
      border-radius: 6px;
      color: white;
      padding: 4px;
}


